# Compiled Python files
*.pyc
__pycache__/

# Virtual environment
venv/
.env/

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Build and distribution files
build/
dist/
*.egg-info/
*.whl
*.tar.gz
*.zip

# Logs and temporary files
*.log
*.pybuild
*.swp
*.swo
*.tmp

# IDE-specific files
*.pydevproject
*.launch
*.sublime-project
*.sublime-workspace
